# Local terraform directories and files
*/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars

# Python local files
.python-version
*.pyc
pytestdebug.log

# RVM local files
.ruby-version
.ruby-gemset

# KDE creates these for some reason
.directory

# ignore IDE directories
.vscode
