[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
molecule = {extras = ["docker"],version = "~=2.20"}
jmespath = "~=0.9"
pylint = "~=2.3"
autopep8 = "~=1.4"

[packages]
ansible = "~=2.7"

[requires]
python_version = "3.7"
