# Service to disable THP at boot time

[Unit]
Description=Disable Transparent Huge Pages (THP)
Before=mongod.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/
ExecStart=/bin/sh -c "thp-disable"
Restart=no
RemainAfterExit=True
