[Unit]
Description=Disable Transparent Huge Pages (THP)
Before=mongod.service

[Service]
Type=oneshot
User=root
WorkingDirectory=/
ExecStart=/usr/bin/thp-disable
Restart=no
RemainAfterExit=True
